body{
    width: 90%;
    margin: auto;
    overflow: hidden;
}

#gameCanvas { 
    border: 5px solid #000;  
}

h1{
    text-align: center;
}

.score {
    float: right;
    font-size: 40px;
    text-align: center;
}